{
  "presets": [
    "es2015",
    "stage-2",
    "react",
    ["env", {
      "targets": {
        "browsers": [
          "> 1%",
          "last 2 versions"
        ]
      }
    }]
  ],
  "plugins": [
    "transform-runtime",
    "transform-class-properties",
    "syntax-dynamic-import"
  ]
}